.custom-pagination .ant-pagination-item {
  width: 22px;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  margin-bottom: 15px;
}

.custom-pagination .ant-pagination-item-active {
  background: rgba(24, 144, 255, 1);
  border-color: #1890ff;
  color: rgba(255, 255, 255, 1);
}

.custom-pagination .ant-pagination-item-active a {
  color: rgb(255, 255, 255); /* Цвет текста выбранной цифры */
}
:where(.css-dev-only-do-not-override-14i19y2).ant-pagination {
  align-items: baseline; /* выравнивание ковычек по номерам элементов */
}
.custom-pagination .ant-pagination-item-active:hover a {
  color: white; /* Цвет текста активной кнопки при наведении */
}

.custom-pagination .ant-pagination-item:hover a {
  color: white; /* Цвет текста при наведении на другие страницы */
}
.custom-pagination {
  margin-top: 37px;
}
