.button_section {
  position: relative;
  left: 42%;
  width: 146px;
  height: 54px;
  top: 13px;
  margin-bottom: 20px;
  border: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.togle_label_button {
  box-sizing: border-box;
  width: 64.64px;
  height: 53.77px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-radio-button {
  appearance: none;
  -webkit-appearance: none; /* для WebKit-браузеров */
}

input[type="radio"]:checked + label {
  border-bottom: 2px solid rgba(24, 144, 255, 1);
  color: rgba(24, 144, 255, 1);
}

input[type="radio"] + label {
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.09) inset;
  color: rgba(0, 0, 0, 0.65);
}
