#root {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #f7f7f7;
  overflow: auto;
  --font-family: "Inter UI", sans-serif;
  --second-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  right: 0;
  top: 0;
  width: auto;
}
