#root {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-inline: 215px;
  background: #f7f7f7;
  box-sizing: border-box;
  position: absolute;

  --font-family: "Inter UI", sans-serif;
  --second-family: "Inter", sans-serif;
}
body {
  right: 0;
  top: 0;
  width: auto;
}
